.homepage {
  background: linear-gradient(rgba(36, 36, 36, 0.021), rgba(63, 59, 59, 0.685));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 1rem;
}
